.content {
  margin: 10px 10px 10px 10px;
  background: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

header {
  color: #000;
  width: 50%;
  padding-left: 20px;
}

a {
  display: inline-block;
  margin-top: 15px;
  font-size: large;
}

.name {
  font-size: larger;
}

.cardTitle,
.name {
  color: #2596be;
}

.longLine {
  border-bottom: 1px solid lightblue;
  position: relative;
  bottom: 5px;
  width: 80%;
  z-index: 0;
}

.smallRectangle {
  border-bottom: 10px solid yellow;
  width: 5%;
  z-index: 1;
  position: relative;
}

ul {
  padding-left: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.languages > h3 {
  font-weight: lighter;
  font-size: medium;
}

@media screen and (max-width: 999px) {
  .content {
    margin: 10px 10px 10px 10px;
    background: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.educationLine h3,
h4,
h5 {
  font-weight: lighter;
}

.educationLine h3 {
  margin-bottom: -15px;
}

.educationLine h4 {
  margin-bottom: -15px;
}
