.content {
  margin: 10px 10px 10px 10px;
  background: white;
  padding: 10px;
}

.header {
  background: pink;
  width: 50%;
}

.experienceCard {
  background: green;
  width: 50%;
}

.skills {
  position: absolute;
  background-color: violet;
  width: 45%;
  height: 116.7%;
  top: 263px;
  right: 10px;
}

.professional {
  background-color: orange;
  position: absolute;
  width: 100%;
  top: 1px;
  height: 26%;
}

.personal {
  background-color: red;
  position: absolute;
  width: 100%;
  top: 313px;
}

.languages {
  background-color: oldlace;
  position: absolute;
  width: 100%;
  bottom: 83px;
}

.educationCard {
  background: yellow;
  width: 50%;
}

.cardTitle {
  color: blue;
}
